!!!
%html
  %head
    %title RailsApp
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %header
      %hgroup.title
        %h1= link_to "RailsApp", "/" # root_path
      %hgroup.page_header
        =yield :header
    %aside
      =yield :aside
    #main
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      = yield
    %footer
      =yield :footer
